{% extends 'base.njk' %}


{% block title %}Home | {{ super() }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block page_content %}
  <h2>Hello</h2>

  <img src="{{ STATIC_URL }}images/HTML5_Logo_512.png" alt="HTML5 logo" width="300px">

  {% include "svg/html5-logo.svg.njk" %}

  <div class="js-app"></div>
{% endblock %}
